<div class="d-flex justify-content-center align-items-center" style="height:80vh;">
  <div *ngIf="lastContact; else notFound">
    <h3>Dernier contact :</h3>
    <p><strong>Prénom :</strong> {{lastContact.prenom}}</p>
    <p><strong>Nom :</strong> {{lastContact.nom}}</p>
    <p *ngIf="lastContact.age"><strong>Âge :</strong> {{lastContact.age}}</p>
    <p *ngIf="lastContact.email"><strong>Email :</strong> {{lastContact.email}}</p>
    <p><strong>Commentaire :</strong> {{lastContact.commentaire}}</p>
  </div>
  <ng-template #notFound>
    <div>
      <h3>404 not found</h3>
    </div>
  </ng-template>
</div>
