<div class="container text-center mt-4">
  <form [formGroup]="listeForm" class="d-inline-block text-left">
    <div class="form-group">
      <label for="filmSelect">Choisissez un film :</label>
      <select id="filmSelect" formControlName="filmName" class="form-control">
        <option value="">-- Sélectionnez --</option>
        <option *ngFor="let film of films" [value]="film.title">{{ film.title }}</option>
      </select>
    </div>
  </form>

  <div *ngIf="selectedFilm" class="mt-3">
    <h3>{{selectedFilm.title}}</h3>
    <img [src]="selectedFilm.img" alt="{{selectedFilm.title}}" style="max-width:200px;">
  </div>
</div>
